fastapi==0.112.1
requests==2.32.3
SQLAlchemy==2.0.32
starlette==0.38.2
tqdm==4.66.5
urllib3==2.2.2
uvicorn==0.30.6
mediapipe==0.10.18
opencv-python==4.10.0.84
face-recognition==1.3.0
streamlit
streamlit_webrtc